.media.bg-light.shadow-sm.position-relative.mb-3
  %img.mr-3{alt: "...", src: ""}/
  .media-body
    %h5.mt-0 チーム名
    %ul
      %li
        地域:
      %li
        活動回数:
    = link_to '詳細を見る', '#', class: 'stretched-link'
