.container.mt-5

  %h2.text-center.rounded-pill.w-25.m-auto.border.border-secondary
    チーム詳細

  %label.mt-4
    チーム名
  .card
    .card-body
      うらちゃんず

  %label.mt-4
    モチベーション
  .card
    .card-body
      弱いものいじめを見過ごせない

  %label.mt-4
    活動頻度
  .card
    .card-body
      毎日

  %label.mt-4
    地域
  .card
    .card-body
      竜宮城

  %label.mt-4
    希望性別
  .card
    .card-body
      男

  %label.mt-4
    希望経験年数
  .card
    .card-body
      1000年

  %label.mt-4
    希望実績
  .card
    .card-body
      亀を助けた

  .card.mt-4
    .card-header
      一言コメント・自己紹介等
    .card-body
      %blockquote.blockquote.mb-0
        %p 玉手箱を開けたことを後悔してます、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、
