%main
  .container

    - if !user_signed_in?
      .login-info.card.mt-3
        .card-header テストアカウントへのログイン情報
        .card-body
          Email：t1@t1.com　　Password：111111

    .description
      .position-relative.overflow-hidden.p-3.p-md-5.my-md-3.text-center.shadow
        %h1.display-4.font-weight-normal
          卓人サーチ
        %p.lead.font-weight-normal
          〜卓球プレーヤーと卓球チームを結びつけるマッチングサイトです〜

    .contents
      .row
        .col-sm
          .card.mb-3.shadow
            .card-header チームを探したい方へ
            .card-body
              %p.card-text どこかの卓球チームに所属していないと、練習相手や、一緒に試合に出る仲間を見つけるのは難しいです。
              %p.card-text 例えば、以下のような方の役に立ちます
              %p.card-text
                %ul.list-group
                  %li.list-group-item 引越しをして、知り合いが少ない方
                  %li.list-group-item 久しぶりに卓球を再開した方
                  %li.list-group-item チームには所属しているが、もう少し違う雰囲気のチームを探したい方
                  %li.list-group-item 卓球プレーヤーとのつながりを増やしたい方
              %p.card-text 等々・・・
              %p.card-text もちろん、他の目的でも利用できます！
              %p.card-text さあ、チームを探してみよう！
              %p.card-text
                = link_to 'チームを探す＞', teams_path

        .col-sm
          .card.mb-3.shadow
            .card-header メンバーを探したい方へ
            .card-body
              %p.card-text チームの雰囲気に合うメンバーになかなか巡り会えないチームもあるのではないでしょうか？
              %p.card-text 例えば、以下のようなチームにおすすめです
              %p.card-text
                %ul.list-group
                  %li.list-group-item 新しくチームを作ったが、メンバーが少ない
                  %li.list-group-item 実力のあるメンバーを迎えて、チーム全体の卓球レベルを上げたい
                  %li.list-group-item 男女の人数比のバランスが悪い
                  %li.list-group-item メンバーを増やして、チームを拡大させたい
              %p.card-text 等々・・・
              %p.card-text もちろん、他の目的でも利用できます！
              %p.card-text さあ、メンバーを探してみよう！
              = link_to 'メンバーを探す＞', members_path

%footer
