%main
  .container

    - if !user_signed_in?
      .login-info.card.mt-3
        .card-header テストアカウントへのログイン情報
        .card-body
          Email：t1@t1.com　　Password：111111

    .description
      .position-relative.overflow-hidden.p-3.p-md-5.my-md-3.text-center.shadow
        %h1.display-4.font-weight-normal
          卓人サーチ
        %p.lead.font-weight-normal
          説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん

    .contents
      .row
        .col-sm
          .card.mb-3.shadow
            .card-header チームを探したい方へ
            .card-body
              %p.card-text 説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん
              = link_to 'チームを探す', teams_path

        .col-sm
          .card.mb-3.shadow
            .card-header メンバーを探したい方へ
            .card-body
              %p.card-text 説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん説明文せつめいぶん
              = link_to 'メンバーを探す', members_path

%footer
